---
layout: default
header_class: alt

banner:
- image: /images/slide01.jpg
  title: the philosophy of peak performance
  url: "#"
- image: /images/slide02.jpg
  title: the science of flow
  url: "#"
- image: /images/slide03.jpg
  title: how to engineer the state
  url: "#"

features:
- icon: fa-pencil
  title: Philosophy
  excerpt: Philosophy is about exploration.  It explores new territory and offers the first map.
- icon: fa-paper-plane
  title: Science
  excerpt: Science takes that map and isolates variables.  It offers empirical rigor.
- icon: fa-cloud
  title: Engineering
  excerpt: Engineering applies the science.  It renders the science and philosophy actionable, making it a lived reality.

posts:
- image: /images/pic01.jpg
  title: Towards a Gay Science
  excerpt: Not only am I programmable, but it is I who can do the programming. This is the heart of a gay science. It's a unification of theory and practice all for this larger goal...the will to power.
  url: "2019/03/04/Towards-a-Gay-Science.html"
---

{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Site home page.

{% endcomment %}

{% include layout/banner.html slides=page.banner %}

<!-- Two -->
	<section id="two" class="wrapper content-pad">
		<div class="inner">
			{% include components/features.html features=page.features %}
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<h2>THE BLOG: THE PEAK PERFORMANCE FULL STACK</h2>
			{% include components/posts.html posts=page.posts %}
		</div>
	</section>
