{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
	<section id="contact" class="wrapper split">
		<div class="inner">
			<section>
				<h2>Send us a message</h2>
				<form method="post" action="#">
					<div class="row gtr-uniform">
						<div class="col-6 col-12-large col-6-medium col-12-xsmall">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="col-6 col-12-large col-6-medium col-12-xsmall">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" />
						</div>
						<div class="col-12">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="5"></textarea>
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Send Message" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
			<section>
				<h2>Other ways to reach me</h2>
				<ul class="bulleted-icons">
					<li>
						<span class="icon-wrapper"><span class="icon fa-instagram"></span></span>
						<h3>Instagram</h3>
						<p><a href="https://www.instagram.com/conorbmurphy/">instagram.com/conorbmurphy</a></p>
					</li>
                    <li>
                        <span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
                        <h3>LinkedIn</h3>
                        <p><a href="https://www.linkedin.com/in/conorbmurphy/">linkedin.com/conorbmurphy</a></p>
                    </li>
				</ul>
			</section>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<p class="copyright">&copy; Conor B Murphy. All rights reserved.</p>
			<ul class="menu">
				<li><a href="#">Terms<span> of Use</span></a></li>
				<li><a href="#">Privacy<span> Policy</span></a></li>
				<li><a href="#">Legal<span> Information</span></a></li>
			</ul>
		</div>
	</footer>
